/* Notes.css */

.add-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-note textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Courier';
}
  
  .add-note button {
    background-color: #f1c3d3; /* Pastel pink */
    color: #333; /* Dark gray text color */
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .note {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .note p {
    margin: 10px 0;
  }
  
  .note button {
    background-color: #f1c3d3; /* Pastel pink */
    color: #333; /* Dark gray text color */
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .note button:hover {
    background-color: #ff85a2; /* Lighter pastel pink on hover */
    color: #666; /* Medium gray on hover */
  }
  